/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

//  .wp-block-cgb-block-nettwork-gallery-block {
// 	.content-grid {
// 		& > div {
// 			width: 100% !important;
// 		}
// 		&.column__one {
// 			& > div {
// 				width: 100%;
// 			}
// 		}
// 		&.column__two {
// 			& > div {
// 				width: calc(100% / 2);
// 				@media (max-width: 400px) {
// 					width: 100%;
// 				}
// 			}
// 		}
// 		&.column__three {
// 			& > div {
// 				width: calc(100% / 3);
// 				@media (max-width: 600px) {
// 					width: calc(100% / 2);
// 				}
// 				@media (max-width: 400px) {
// 					width: 100%;
// 				}
// 			}
// 		}
// 		&.column__four {
// 			& > div {
// 				width: calc(100% / 4);
// 				@media (max-width: 920px) {
// 					width: calc(100% / 3);
// 				}
// 				@media (max-width: 600px) {
// 					width: calc(100% / 2);
// 				}
// 				@media (max-width: 400px) {
// 					width: 100%;
// 				}
// 			}
// 		}
// 	}
// }