/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 * block-image-slider
 */
/* view.css */

.wp-block-cgb-block-nettwork-gallery-block {
	background-color: $black-drk;
	color: $white;
	text-align: center;
	padding: 110px 0 0 0;
	.content {
		width: 100%;
		max-width: $site-width;
		margin: 0 auto;
	}
	h2 {
		@include fluid-type(320px, 1200px, 24px, 40px);
		color: $white;
		text-transform: uppercase;
	}
	p {
		font-size: 20px;
	}
	.content-grid {
		display: flex;
		flex-wrap: wrap;
		&.column__one > div {
			width: 100%;
			.image {
				height: 250px;
			}
		}
		&.column__two > div {
			width: calc(100% / 2);
			@media (max-width: 400px) {
				width: 100%;
			}
			.image {
				height: 200px;
			}
		}
		&.column__three > div {
			width: calc(100% / 3);
			@media (max-width: 600px) {
				width: calc(100% / 2);
			}
			@media (max-width: 400px) {
				width: 100%;
			}
			.image {
				height: 180px;
			}
		}
		&.column__four > div{
			width: calc(100% / 4);
			@media (max-width: 920px) {
				width: calc(100% / 3);
			}
			@media (max-width: 600px) {
				width: calc(100% / 2);
			}
			@media (max-width: 400px) {
				width: 100%;
			}
			.image {
				height: 150px;
			}
		}
	}
}