/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 .wp-block-cgb-meaning-purpose-participants {
	margin: 0 !important;
	max-width: 100% !important;
	width: 100% !important;
	h3, h4 {
		width: 100%;
		color: $color-white;
	}
	p {
		width: 100% !important;
	}
}
