/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

/* view.css */

.wp-block-cgb-meaning-purpose-participants {
	margin-top: 0;
	color: $color-white;
	background-color: $color-blue;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
	font-family: open-sans, sans-serif;
	.content {
		max-width: $site-width;
		width: 100%;
		margin: 0 auto;
		display: flex;
		padding: 16px 52px;
		flex-wrap: wrap;
		p {
			width: calc(100%/4);
			padding: 0 10px;
			font-size: 16px;
			white-space: nowrap;
			@media (max-width: 1000px) {
				width: auto;
				padding: 0 20px;
				white-space: initial;
			}
		}
		p:nth-child(n+5):nth-child(-n+9) {
			width: calc(100%/5);
			@media (max-width: 1000px) {
				width: auto;
			}
		}
	}

	// Javascript change content to better fit
	&.has__rows {
		.content {
			display: block;
			flex-wrap: nowrap;
			.row {
				width: 100%;
				display: flex;
				flex-wrap: no-wrap;
				justify-content: space-between;
			}
			p {
				width: auto !important;
			}
		}
	}
}