/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

/* view.css */
.wp-block-cgb-block-nettwork-blocks-image-slider {
    position: relative;
    padding: 330px 100px 100px 100px;
}

.wp-block-cgb-block-nettwork-blocks-image-slider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	opacity: 0.3;
}

.wp-block-cgb-block-nettwork-blocks-image-slider .content {
	position: relative;
	font-size: 31px;
	z-index: 1;
}