/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.components-panel__body {
	.editor__overflow-hidden {
		overflow: hidden;
		.editor-url-input input[type=text] {
			width: 150px;
		}
	}
}
.wp-block-cgb-block-nettwork-gallery-block-image {


}