/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 * block-image-slider
 */
/* view.css */


.wp-block-cgb-block-nettwork-gallery-block-image {
	margin: 0 0 20px 0;
	padding: 10px;
	.image {
		width: 100%;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	h3 {
		margin: 26px 0;
		font-size: 16px;
		color: $white;
	}
	a {
		position: relative;
		display: inline-block;
	}
	.content-hover {
		position: relative;
		&:hover {
			.content__hover {
				display: flex;
			}
		}
	}
	.content__hover {
		display: none;
		position: absolute;
		align-items: center;
		justify-content: center;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		padding: 10px;
		background: rgba( 10, 10, 10, 0.9);
		p {
			color: $white;
			font-size: 20px;
		}
	}
}