/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-nettwork-blocks-image {
	padding: 4em 0;
    text-align: center;
}
/* view.css */
.wp-block-cgb-block-nettwork-blocks-image {
    position: relative;
    padding: 4em 0;
    text-align: center;
}

.wp-block-cgb-block-nettwork-blocks-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	// background: rgba(150,0,0,.3);
	opacity: 0.3;
}

.wp-block-cgb-block-nettwork-blocks-image .content {
    position: relative;
    z-index: 1;
}