/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .wp-block-cgb-tabbed-content-item {
	.tab {
		background: $color-green;
		padding: 8px;
		h1, h2, h3, h4, h5, h6, p {
			color: $color-white;
		}
	}
 }
