/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 * block-image-slider
 */
/* view.css */


.wp-block-cgb-block-nettwork-sponsors {
	margin: 8.333vw 0;
	@media (min-width: 1200px) {
		margin: 100px 0;
	}
	.content {
		max-width: 1200px;
		margin: 0 auto;
		ul {
			margin: 0;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			li.blocks-gallery-item {
				margin: 0 10px;
				padding: 10px 0;
				height: 150px;
				width: auto;
				figure {
					align-items: center;
					justify-content: center;
				}
				img {
					height: 100%;
					width: auto;
				}
			}
		}
	}
}