/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 * block-image-slider
 */
/* view.css */

.wp-block-cgb-block-nettwork-slideshow {
	&.hero-small {
		.slick-dots {
			bottom: 20px;
		}
	}
	.slideshow {
		visibility: none;
		&.slick-initialized {
			visibility: visible;
		}
	}
	// Slick slider
	.slick-dots {
		margin: 0;
		position: absolute;
		bottom: 70px;
		right: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		list-style-type: none;
		li {
			height: 15px;
			width: 15px;
			position: relative;
			text-indent: -99999px;
			border-radius: 100%;
			border: 1px solid white;
			margin: 0 8px;
			&:hover {
				cursor: pointer;
			}
			&:after {
				content: '';
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 100%;
			}
			&.slick-active {
				&:after {
					background: white;
				}
			}
		}
	}
}