/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

/* view.css */

.wp-block-cgb-block-nettwork-blocks-bg-simple {
    position: relative;
    padding: 65px 0;
}

.wp-block-cgb-block-nettwork-blocks-bg-simple .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	opacity: 0.3;
}