/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 * block-image-slider
 */
/* view.css */

.wp-block-cgb-block-nettwork-slide-image {
	z-index: 1;
	position: relative;
	.content {
		z-index: 3;
		padding: 0 20px 0 0;
		position: absolute;
		bottom: 12.5vw;
		right: 0;
		left: 0;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-end;
		@media (min-width: 1200px) {
			bottom: 150px;
		}

		h1 {
			@include fluid-type(320px, 1200px, 24px, 40px);
			text-transform: uppercase;
			text-align: right;
			max-width: 570px;
		}
	}
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 2;
	}
	.image {
		position: relative;
		// height: 100%;
		height: 53vw;
		@media (min-width: 1200px) {
			height: 636px;
		}
		width: 100%;
		z-index: 1;
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
}

.wp-block-cgb-block-nettwork-slideshow {
	&.hero-small {
		.slideshow {
			display: none;
			&.slick-initialized {
				display: block;
			}
		}
		height: 28vw;
		@media (min-width: 1200px) {
			height: 336px;
		}
		.image {
			height: 100%;
		}
	}

}
// .hero-small {
// 	.wp-block-cgb-block-nettwork-slide-image {


// 	}
// }