/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 * block-image-slider
 */
/* view.css */


.wp-block-cgb-block-content-width {
	display: flex;
	&.grid-width__two-thirds .content{
		@media ( min-width: 768px ) {
			width: 75%;
		}
	}
	&.grid-width__half .content{
		@media ( min-width: 768px ) {
			width: 50%;
		}
	}
	&.grid-width__right {
		justify-content: flex-end;
	}
	&.gird-width__left {
		justify-content: flex-start;
	}
	&.grid-width__center {
		justify-content: center;
	}
}