/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 * block-image-slider
 */
/* view.css */

.wp-block-cgb-tabbed-content {
	margin-top: 0 !important;
	h1 {
		border-bottom: 1px solid rgba(112, 112, 112, 0.25);
		line-height: 1.6em;
		margin: 0.25em 0 0.75em 0;
	}
	@media (max-width: 830px) {

	}
}
