/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/
/*==================================
=            Fluid Type            =
==================================*/
@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
  }

  @mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
	  & {
		font-size: $min-font-size;
		@media screen and (min-width: $min-vw) {
		  font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
		}
		@media screen and (min-width: $max-vw) {
		  font-size: $max-font-size;
		}
	  }
	}
  }

  // how to use:
  // $min_width: 320px;
  // $max_width: 1200px;
  // $min_font: 16px;
  // $max_font: 24px;

  // html {
  //   @include fluid-type(320px, 1200px, 16px, 28px);
  // }
  /*=====  End of Fluid Type  ======*/

// Colors.
$color-gray: #707070;
$color-red: #942827;
$color-blue: #0E82AC;
$color-green: #A1B131;
$color-black: #1D1D1D;
$color-white: #FFFFFF;

// Site width
$site-width: 1440px;