/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 * block-image-slider
 */
/* view.css */


.wp-block-cgb-block-nettwork-side-image {

	padding-bottom: 10.83vw;
	padding-top: 10.83vw;
	@media ( min-width: 1200px ) {
		padding-bottom: 130px;
		padding-top: 130px;
	}
	+ .wp-block-cgb-block-nettwork-side-image {
		padding-top: 0;
		padding-bottom: 10.83vw;
		@media ( min-width: 1200px ) {
			padding-bottom: 130px;
		}
	}
	&.image-left {
		.image {
			margin-left: 10.8vw;
			@media ( min-width: 1200px ) {
				margin-left: 130px;
			}
			@media (max-width: 600px ) {
				margin: 0 0 20px 0;
			}
		}
	}
	&.image-right {
		.grid-column {
			flex-direction: row-reverse;
		}
		.image {
			margin-right: 10.8vw;
			@media ( min-width: 1200px ) {
				margin-right: 130px;
			}
			@media (max-width: 600px ) {
				margin: 0 0 20px 0;
			}
		}
	}
	.grid-column {
		position: relative;
		z-index: 1;
		margin: 0 auto;
		display: flex;
		max-width: 1030px;
		padding: 0 30px;
		&__narrow {
			max-width: 1030px;
			padding: 0 30px;
		}
		&__wide {
			max-width: 1110px;
			padding: 0 30px;
			.content {
				max-width: 470px;
			}
			.image {
				flex-grow: 1;
				margin-left: 54px;
			}
		}

	}
	.grid-column {
		@media (max-width: 600px) {
			flex-wrap: wrap;
		}
	}
	.content,
	.image {
		width: 50%;
		@media (max-width: 600px) {
			width: 100%;
		}
	}
	.content {
		@media (max-width: 600px) {
			order: 2;
		}
	}

	h2 {
		@include fluid-type(320px, 1200px, 20px, 40px);
		text-transform: uppercase;
		line-height: 1.13em;
	}
	p {
		font-size: 16px;
		line-height: 1.56em;
		margin-top: 20px;
		&.font-size__large {
			margin-top: 10px;
			@include fluid-type(320px, 1200px, 16px, 24px);
			line-height: 1.04em;
		}
	}

}